.vscode/*
!.vscode/launch.json

**/*/git-ignore/

api/whole.json
api/monitor/cemex_driving_process_input.json
api/monitor/cemex_driving_process_output.json
api/monitor/tp_driving_process_input.json
api/monitor/tp_driving_process_output.json
api/monitor/past_logs.json