.root {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.viewport {
    height: 100%;
    overflow-anchor: none; /* for virtualization */
    overflow: hidden;
    /* position: relative; */
    touch-action: pan-down; /* for mobile browser refresh gesture */
    touch-action: none;
    width: 100%;
}

.rowsContainer {
    display: flex;
    flex-direction: column;
    overflow-anchor: none; /* for virtualization */
    overflow: hidden;
}

.overlay {
    position: absolute;
    inset: 0;
}