.icon-light {
    @mixin light {
        display: block;
    }

    @mixin dark {
        display: none;
    }
}

.icon-dark {
    @mixin light {
        display: none;
    }

    @mixin dark {
        display: block;
    }
}

.track {
    background-color: #1D2936;
    /* border-color: #ffffff; */

    @mixin dark {
        background-color: #1D2936;
        /* border-color: #ffffff; */
    }
}

.thumb {
    background-color: #FAE9B1;
    border: none;

    @mixin dark {
        background-color: #008BE2;
        border: none;
    }
}

