:root {
    --forem-green-50 :   #E6F6ED;
    --forem-green-100:   #C2E8D3;
    --forem-green-200:   #9EDAB9;
    --forem-green-300:   #7ACD9F;
    --forem-green-400:   #56BF85;
    --forem-green-500:   #16A34A;
    --forem-green-600:   #00832D;
    --forem-green-700:   #00650F;
    --forem-green-800:   #004700;
    --forem-green-900:   #002D00;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--forem-green-500);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--forem-green-600);
}

::-webkit-scrollbar-thumb:active {
    background: var(--forem-green-600);
}
