.root {
    width: 100%;
    overflow: hidden;
    overflow-anchor: none; /* for virtualization */
    touch-action: pan-down; /* for mobile browser refresh gesture */
    touch-action: none;
    border-bottom: 1px solid #e0e0e0;
}

.headersContainer {
    overflow: hidden;
}