.root {
    padding: 0 8px;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.content {
    align-items: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.contentLabel {
    align-items: center;
    display: flex;
    gap: 0.25rem;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.label {
    flex: 1;
    font-weight: 500;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actions {
    position: absolute;
    right: 0;
    align-items: center;
    gap: 0.25rem;
    display: flex;
    visibility: hidden;
}

.root:hover .actions {
    visibility: visible;
}

.filter {
    align-items: center;
    display: none;
    gap: 0.25rem;
}

.overlay {
    border: 2px solid black;
    background: rgb(0 0 0 / 0.1);
    transform: translateX(-50%);
}

.draggableOver {
    outline: 2px dashed rgb(25, 131, 202);
}