.row-root:hover {
    background-color: light-dark(var(--mantine-color-default-hover), var(--mantine-color-dark-5));
}

.columnHeaders {
    background-color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-dark-8));
}

.body {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
}
