.root {
    padding: 0 8px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.content {
    overflow: hidden;
    text-overflow: ellipsis;
}

.root:focus {
    box-shadow: inset 0 0 0 1px rgb(25 118 210); /* to overcome container clipping outlines */
}