.root {
    width: 100%;
    overflow: hidden;
    overflow-anchor: none; /* for virtualization */
    /*touch-action: pan-down; /* for mobile browser refresh gesture */
    touch-action: none;
}

.container {
    overflow: hidden;
}