.root {
    border-top: 1px solid #e0e0e0;
    overflow: hidden;
    overflow-anchor: none; /* for virtualization */
    touch-action: pan-down; /* for mobile browser refresh gesture */
    touch-action: none;
    width: 100%;
}

.container {
    overflow: hidden;
}